$bgColor: #53067A;
$bgColorAlt: #A177B6;
$whiteColor: #fff;
$blackColor: #000;
$blackColorAlt: #47506D;
$primaryColor: #FFC703;
$primaryColorAlt: #FFE27C;
$primaryLinearColor: linear-gradient(180deg, $primaryColorAlt 0%, $primaryColor 100%);
$primaryLinearColorAlt: linear-gradient(90deg, $bgColorAlt 0%, $bgColor 94.25%);

$containerWidthLg: 90%;
$transition: all 400ms ease;